annotated-types==0.6.0
anyio==4.2.0
aqua==0.1.27
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.0
cryptography==42.0.2
cycler==0.12.1
dill==0.3.8
fastapi==0.109.1
fonttools==4.47.2
graphviz==0.20.1
h11==0.14.0
ibm-cloud-sdk-core==3.19.1
ibm-platform-services==0.49.2
idna==2.8
Jinja2==3.1.3
joblib==1.3.2
jsonpickle==3.0.2
kiwisolver==1.4.5
lark-parser==0.12.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
more-itertools==10.2.0
mpmath==1.3.0
msal==1.26.0
music21==9.1.0
nest-asyncio==1.6.0
networkx==3.2.1
ntlm-auth==1.5.0
numpy==1.26.3
packaging==23.2
pbr==6.0.0
phir==0.3.0
pillow==10.2.0
ply==3.11
projectq==0.8.0
psutil==5.9.8
pycparser==2.21
pydantic==2.6.0
pydantic_core==2.16.1
Pygments==2.17.2
PyJWT==2.8.0
pyparsing==3.1.1
pyspnego==0.10.2
python-dateutil==2.8.2
pytket==1.24.0
pytket-phir==0.4.1
pytket-qiskit==0.48.0
pytket-quantinuum==0.29.0
pytket_pecos==0.1.15
qiskit==0.45.3
qiskit-aer==0.13.2
qiskit-algorithms==0.2.2
qiskit-ibm-provider==0.8.0
qiskit-ibm-runtime==0.17.0
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.45.3
quantum-pecos==0.5.0.dev8
qwasm==1.0.1
requests==2.22.0
requests-ntlm==1.1.0
rich==13.7.0
rustworkx==0.14.0
scipy==1.12.0
six==1.16.0
sniffio==1.3.0
starlette==0.35.1
stevedore==5.1.0
symengine==0.11.0
sympy==1.12
types-pkg-resources==0.1.3
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.9.0
urllib3==1.25.11
uvicorn==0.27.0.post1
wasmtime==17.0.0
webcolors==1.13
websocket-client==1.7.0
websockets==12.0
